// category color classes
div.category-1 {
  background-color: $health;
}
svg.category-1 {
  fill: $health;
}
div.category-2 {
  background-color: $calm;
}
svg.category-2 {
  fill: $calm;
}
div.category-3 {
  background-color: $productivity;
}
svg.category-3 {
  fill: $productivity;
}
div.category-4 {
  background-color: $household;
}
svg.category-4 {
  fill: $household;
}
div.category-5 {
  background-color: $social;
}
svg.category-5 {
  fill: $social;
}
div.category-6 {
  background-color: $activity;
}
svg.category-6 {
  fill: $activity;
}
