// programmtically create classes for category colors:

$cat-colors: (
  1: $health,
  2: $calm,
  3: $productivity,
  4: $household,
  5: $social,
  6: $activity,
);

@each $number, $color in $cat-colors {
  div,
  a.button,
  button {
    &.category-#{$number} {
      background-color: $color;
    }
  }
  svg.category-#{$number} {
    fill: $color;
  }
  a,
  p,
  span {
    &.category-#{$number} {
      color: $color;
    }
  }
  input.category-#{$number} {
    border-color: $color;
  }
}
